# MongoDB Connection String (Atlas or Local)
# Example: mongodb+srv://<username>:<password>@cluster0.mongodb.net/nutriplan?retryWrites=true&w=majority
# Or Local: mongodb://127.0.0.1:27017/nutriplan
MONGODB_URI=mongodb://127.0.0.1:27017/nutriplan

# Base URL for local development
NEXT_PUBLIC_APP_URL=http://localhost:3000
